#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.hidden-text {
  color: #888;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}